.container{
    width: 383px;
    height: 515px;
    top: 57px;
    left: 448px;
    border-radius: 4px;
    border: 2px 
    rgba(255, 212, 58, 1) dotted;
    background-color: 
    rgba(65, 65, 65, 1);
    position: relative;
}

.name1{
    font-weight: 700;
    font-size: 16px;
    color: rgba(222, 222, 222, 1);
}
.text{
    width: 315px;
    height: 45px;
    border-radius: 4px ;
    border: 1px rgba(224, 224, 224, 1) solid;
    background-color: rgba(169, 169, 169, 1);
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
}

.name{
    margin-top: 30px;
    margin-left: 25px;
}
.text::placeholder{
    color: rgba(255, 212, 58, 1);
    
}
.mobile{
    color: rgba(222, 222, 222, 1);
    width: 123px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    }
    .number{
        width: 315px;
        height: 45px;
        border-radius: 4px;
        border: 1px rgba(224, 224, 224, 1) solid;
        background-color: rgba(169, 169, 169, 1);
        font-weight: 500;
        font-size: 16px;
        padding-left: 20px;
    }
    .number::placeholder{
        color: rgba(255, 212, 58, 1);
    }
    .password{
        color: rgba(222, 222, 222, 1);
        font-weight:700;
        font-size: 16px;
     }
     .password1{
        width: 315px;
        height: 50px;
        border-radius: 4px;
        border: 1px rgba(255, 0, 0, 1) solid;
        background-color: rgba(169, 169, 169, 1);
        font-weight: 500;
        font-size: 16px;
        padding-left: 20px;
        
     }
     .password1::placeholder{
        color: rgba(255, 0, 0, 1)
     }
     .bio{
        color: rgba(222, 222, 222, 1);
        font-weight: 700;
        font-size: 16px;

     }
     textarea{
        width: 315px;
        height: 112px;
        border-radius: 4px;
        border: 1px rgba(224, 224, 224, 1) solid;
        background-color: rgba(169, 169, 169, 1);
        font-weight: 500;
        font-size: 16px;
        padding-left: 20px;
        padding-top: 10px;   
        
        
     }
     textarea::placeholder{
        color:rgba(255, 212, 58, 1); 
    }
    button{
        width: 315px;
        height: 45px;
        border-radius: 10px ;
        background-color: rgba(255, 212, 58, 1) ;
        margin-top: 30px;
        color: black;
        font-weight: 700;
        font-size: 15px;

    }

        
     
    

    